<launch>
    <param name="/use_sim_time" value="true" />

    <!-- Start Gazebo and the world -->
    <include file="$(find ros_interface)/gazebo/empty_world.launch" />

    <!-- Add robot 1 -->
    <include file="$(find ros_interface)/gazebo/spawn_p3at.launch" >
        <arg name="init_pose" value="-x -1 -y 5 -z 0.5 -Y 1.57" />
        <arg name="robot_name" value="robot1" />
    </include>

    <!-- Add robot 2 -->
    <include file="$(find ros_interface)/gazebo/spawn_p3at.launch" >
        <arg name="init_pose" value="-x 0 -y 0 -z 0.5" />
        <arg name="robot_name" value="robot2" />
    </include>

    <!-- Add robot 3 -->
    <include file="$(find ros_interface)/gazebo/spawn_p3at.launch" >
        <arg name="init_pose" value="-x -1 -y 3 -z 0.5" />
        <arg name="robot_name" value="robot3" />
    </include>

</launch>

